<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#rankbutton").on("click", function(){
                var user_id = $("#userid").val();
                var item_ids = $("#res").text();

        		$.ajax({
        	        url: '/ranking',
        	        dataType: 'JSON',
        	        type: 'POST',
        	        data: JSON.stringify({
        	            uid: user_id,
        	            iids: item_ids
        	        }),
                    contentType: 'application/json;charset=UTF-8',
        	        success: function(response){
                        console.log(response);
                        var rating = response['rating'];
                        var ranked_ids = response['item_ids'];
                        var infer_time = response['infertime'];

                        $("#description").text("Predicted ratings: "+infer_time+" seconds for 100 inputs");
                        for(var i = 0; i < 10; i++){
                            for(var j = 0; j < 10; j++){
                                var idx = 10*i+j;
                                $("#iid_"+idx.toString()).text("#"+ranked_ids[idx]);
                                $("#iid_"+idx.toString()).click(function() {
                                    var iid = $(this).text().substring(1);
                                    var uid = $("#userid").val();
                                    getreviews(uid, iid);
                                    $(window).scrollTop(0);
                                });
                                $("#irating_"+idx.toString()).text("Rating: "+rating[idx].toFixed(2)+"; Rank: "+(idx+1).toString()+"/100");
                                $("#irating_"+idx.toString()).css("font-weight","Bold");
                            }
                        }

                        var des_meta=response['des_meta'];
                        var title_meta=response['title_meta'];
                        var price_meta=response['price_meta'];
                        var imurl_meta=response['imurl_meta'];
                        var categ_meta=response['categ_meta'];

                        for(var i = 0; i < 10; i++){
                            var meta_area = $("#ifig_"+i);
                            meta_area.append($("<br/>"));
                            meta_area.prepend('<img src='+imurl_meta[i]+' alt='+title_meta[i]+' width="350" />');
                            meta_area.append($("<br/>"));
                            meta_area.append(title_meta[i]);
                            meta_area.append($("<br/>"));
                            meta_area.append("Price: $"+price_meta[i]);
                        }
        	    	}
            	});
        	});

            $("#back_btn").on("click", function(){
                $("#grids").show();
                $("#review_grids").css('display','none');
                $("#toprev_title").css('display','none');
                $("#back_btn").css('display','none');
            });
        });


        function getreviews(uid, iid)
        {
            $.ajax({
                url: '/predictreview',
                dataType: 'JSON',
                type: 'POST',
                data: JSON.stringify({
                    uid: uid,
                    iid: iid
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function(response){
                    $("#grids").css('display','none');
                    $("#description").css('display','none');
                    $("#rev_iid").text(iid);
                    $("#toprev_title").show();
                    $("#review_grids").show();
                    $("#back_btn").show();
                    var toprevs = response['toprevs'];
                    var otherrevs = response['otherrevs'];

                    $("#item_info").empty();
                    var des_meta=response['des_meta'];
                    var title_meta=response['title_meta'];
                    var price_meta=response['price_meta'];
                    var imurl_meta=response['imurl_meta'];
                    var categ_meta=response['categ_meta'];

                    $("#item_info").prepend('<img style="display: block; margin:auto" src='+imurl_meta+' alt='+title_meta+' height="350" />');
                    $("#item_info").append($("<br/>"));
                    $("#item_info").append('<p style="font-size:30px; text-align: center">' + title_meta + '</p>');

                    if (des_meta=="") {
                        $("#item_info").append('Description: None');
                    } else {
                        $("#item_info").append('Description: '+des_meta);
                    }

                    $("#item_info").append($("<br/>"));
                    $("#item_info").append('Categories: '+categ_meta);
                    $("#item_info").append($("<br/>"));
                    $("#item_info").append('Price: $'+price_meta);

                    $("#rev_type1").text('');
                    var rev_rate_top = response['rev_rate_top'];
                    for(var i = 0; i < toprevs.length; i++){
                        var j=i+1;
                        $("#rev_type1").append(j+": (");
                        $("#rev_type1").append('<span style="font-size:20px; font-weight:Bold; color:red">' + rev_rate_top[i]) + '</span>';
                        $("#rev_type1").append(" Star) "+toprevs[i]);
                        $("#rev_type1").append($("<br/>"));
                        $("#rev_type1").append($("<br/>"));
                    }

                    $("#rev_type3").text('');
                    var rev_rate_other = response['rev_rate_other'];
                    for(var i = 0; i < otherrevs.length; i++){
                        var j=i+1;
                        $("#rev_type3").append(j+": (");
                        $("#rev_type3").append('<span style="font-size:20px; font-weight:Bold; color:red">' + rev_rate_other[i]) + '</span>';
                        $("#rev_type3").append(" Star) "+otherrevs[i]);
                        $("#rev_type3").append($("<br/>"));
                        $("#rev_type3").append($("<br/>"));
                    }
                }
            });
        }
    </script>
    <title>Explainable RecSys</title>
</head>

<body>
    <div class="container">
        <h4 class="card-title">Choose a User ID (0~19411)</h4>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">User ID: </span>
                </div>
                <input type="number" class="form-control" id="userid" name="uid" value={{last_uid}}>
                <button type="button" class="btn btn-outline-success" id="rankbutton">Ranking!</button>
            </div>

        <h4 class="card-title" id="description">100 randomly generated Item IDs:</h4>
        <div class="row", id="grids">
            {%for i in range(0, 10)%}
                {%for j in range(0, 10)%}
                    <div class="col border border-dark" align="center">
                        <div id="iid_{{i*10+j}}">
                            #{{result[i*10+j]}}
                        </div>
                        <div id="ifig_{{i*10+j}}">
                        </div>
                        <div id="irating_{{i*10+j}}">
                            Rating ?
                        </div>
                    </div>
                {%endfor%}
                <div class="w-100"></div>
            {%endfor%}
        </div>

        <h5 class="card-title" id="toprev_title" style="display: none;">
            We also suggest item #<span id="rev_iid"></span>'s top-3 reviews to you, because these helpful reviews are very likely to describe how this item matches your interest!
        </h5>
        <button type="button" class="btn btn-outline-dark" id="back_btn" style="display: none;">Back to items</button>
        <hr>
        <div id="review_grids" style="display: none;">
            <div class="border border-info" id="item_info">
            </div>
            <div class="border border-info" id="review_grid1">
                <div>
                    <b style="font-size:25px">Top-3 reviews most relevant to your personal preferences:</b>
                </div>
                <br>
                <div class="" id="rev_type1">
                </div>
            </div>

            <div class="border border-info" id="review_grid3">
                <div>
                    <b style="font-size:25px">Other reviews:</b>
                </div>
                <br>
                <div class="" id="rev_type3">
                </div>
            </div>
        </div>

        <span id="res" style="display: none;">{{result}}</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
